# Postgres configuration
POSTGRES_USER=username
POSTGRES_PASSWORD=postgresPassword
POSTGRES_DB=main_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# minio
MINIO_ROOT_USER=username
MINIO_ROOT_PASSWORD=minioPassword