# VS Code settings
*.vscode/
*node_modules/

# Environments
*.env
*.venv
*env/
*venv/
*ENV/
*env.bak/
*venv.bak/
*env.production
*env.development

.database
express/app/src/uploads/
*.pem

# certificates ssl
nginx/certbot/

# config
nginx/nginx.conf

# Secrets folder
*/secrets
mongodb/

# file build
*dist/
*build/

docker-compose.yml